/* 05 Header & Navigation 
 * 5.1 Header
 * 5.2 
*/

/* 5.1 Header */
.main_header {
  background-color: var(--prim-1-55);
  color: var(--prim-2-55);
  min-height: 8rem;
}

.main_header__subheading {
  font-style: italic;
}

/* 5.2 Navigation */
.main-navigation__list {
  align-items: center;
  background-color: var(--prim-1-55);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-navigation__button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: var(--prim-2-55);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.main-navigation__burger-icon {
  font-size: 4rem;
}

.main-navigation__list {
  display: none;
}

.main-navigation__list.is-active {
  display: flex;
}

.main-navigation__item {
  min-height: 3rem;
}

.main-navigation__item a {
  color: var(--prim-2-55);
  text-decoration: none;
}