/* 05 Header & Navigation 
 * 5.1 Header
 * 5.2 
*/

/* 5.1 Header */
.main_header {
  background-color: var(--prim-1-55);
  color: var(--prim-2-55);
  min-height: 8rem;
}

.main_header__subheading {
  font-style: italic;
}

/* 5.2 Navigation */
.main-navigation__list {
  align-items: center;
  background-color: var(--prim-1-55);
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.js .main-navigation__list {
  position: fixed;
  display: none;  
  top: 0;
}

.main-navigation__button {
  background-color: rgba(0,0,0,0);
  border: none;
  color: var(--prim-1-25);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: center;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
}

/* Is the even a point doing this on smaller screens? */
/* .main-navigation__button:hover {
  background-color: var(--prim-1-55);
} */

.main-navigation__burger-icon {
  font-size: 4rem;
}
.main-navigation__list.is-active {
  display: flex;
}
.main-navigation__text {
  margin: -10px auto 0;
}
.main-navigation__item {
  width: 100%;
  text-align: center;
}
.main-navigation__item a {
  color: var(--prim-2-55);
  display: block;
  min-height: 3rem;
  text-decoration: none;
  padding: 2rem;
  width: 100%;
}