/* 06 index.html - Front page 
 * 6.1 Hero Image
 * 6.2 Practical information
 * 6.3 Introduction
 * 6.4 News
 * 6.5 Exhibitions
*/

/* 6.1 Intro Section */
.hero img {
  max-width: 50%;
  float: right;
}

.hero blockquote {
  margin: 2rem ;
}

.hero blockquote:first-of-type {
  margin-top: 0 ;
}

/* 6.2 Practical information */
.info {
  background-image: linear-gradient(180deg, hsl(0, 0%, 100%, 0.2),hsl(0, 0%, 100%, 0.6));
  box-shadow: 1px 1px 1px 0px hsla(0,0%,0%,0.4);
}

.hours, .entrance {
  border: var(--sec-1-25) solid 2px;
}

/* 6.3 Introduction */
.intro p {
  margin-top: .5rem;
}

.intro figure {
  background-color: hsl(0, 0%, 100%, 0.4);
  font-size: 1.2rem;
  box-shadow: 1px 1px 1px 0px hsla(0,0%,0%,0.4);
}

.intro img {
  width: 100%;
  height: auto;
}

.intro .btn-link {
  margin: auto auto .5rem;
}


/* 6.4 News */
.news {
}

.news__item {
  background-color: hsl(0, 0%, 100%, 0.4);
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 0px hsla(0,0%,0%,0.4);
}

.news__item p {
  font-size: 1.6rem;
}

.news__item img {
  width: 100%;
  height: auto;
}

.news .btn-link {
  margin: .5rem auto;
}


/* 6.5 Exhibitions */
.exhibitions__single {
  background-color: hsl(0, 0%, 100%, 0.4);
  box-shadow: 1px 1px 1px 0px hsla(0,0%,0%,0.4);
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
}

.exhibitions__single img {
  height: auto;
}

.exhibitions__text {
  display: flex;
  margin-left: .5rem;
  flex-direction: column;
  max-width: 60%;
}

.exhibitions__text .btn-link {
  margin: auto auto .5rem;
}

.cta-involved .btn-link{
  margin: 1rem auto;
}
