/* 11 Footer
 *
*/

.main-footer {
  background-color: #38aae0;
  background-color: var(--prim-1-55);
  color: var(--prim-2-55);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.main-footer__mobile {
  display: flex;
  flex-direction: column;
}

.main-footer h2 {
  padding-top: 2rem;
  margin: 0 auto;
}

.main-footer__social-mobile {
  display: flex;
  flex-direction: row;
}

.main-footer__social-mobile img {
  flex-grow: 1;
  max-width: 30%;
  margin: 0 auto;
}

.main-footer__links-mobile {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
}

@media only screen and (min-width: 900px) {
  .main-footer__mobile {
    display: none;
  }

  .main-footer__md {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
  }

  .main-footer__offer {
  }

  .main-footer__social img {
    max-width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1224px) {
}